exportPattern("^[[:alpha:]]+")
import(sp)
importFrom(methods, is)
importFrom(httr, GET)
importFrom(httr, content)
importFrom(httr, add_headers)
importFrom(htmlTable, htmlTable)
importFrom(curl, curl_download)